.frontEnterpriseListCV {
  .list img{
    width: 80px;
    height: 80px;
  }
  .list {
    border-top: 3px solid #9cd7e7;
  }
  h6 {
    color: #217ccb;
    font-weight: bold;
    font-size: 18px;
  }
  .date{
    background-color: #5ba4d7;
    color: #fff;
    font-weight: bold;
    padding: 3px;
    width: 100px;
  }
  .list-dotted{
    border-bottom: 1px dotted #217ccb;
  }
}
.enterpriseCVDetail {
  .border {
    border: 1px solid #d2ddef;
  }
  .color-orange {
    color: #ffa500;
  }
  .heading-title {
    color: #cd3101;
    font-size: 18px;
  }
  .heading-line{
    border-top: 1px solid #d2ddef;
  }
  .right-column img{
    border: 1px solid #d2ddef;
    width: 100%;
    margin-bottom: 15px;
  }
  .info-header{
    background-color: #69bbec;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 8px 0 ;
  }
  .cv_status {
    background-color: #2068a0;
    border: 1px solid #184981;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
  }
  .dotted-line{
    border-top: 1px dotted #bbb;
    margin: 5px 0;
  }
  .apply {
    i {
      font-size: 18px;
      border: 1px solid #d2ddef;
      padding: 5px 10px;
      margin-left: 20px;
    }
    span {
      font-size: 18px;
      font-weight: bold;
      color: #187afb;
      margin-left: 20px;
    }
    background-color: #f3f3f3;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 5px;
  }
  .left-column {
    h2 {
      color: #ffa500;
    }
  }
}
